/* The sidebar menu */
.wrapper {
  display: flex;
}
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 50px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #542A5B; /* dark purple*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 13px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  white-space: nowrap;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 30px;
  margin-left: 50px;
}

.openbtn:hover {
  background-color: #444;
}

#banner-bar {

  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: "monospace";
}

#content-block{
  padding-left: 35px;
  padding-right:35px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  height: 100%;
  width: 100%;

  transition: margin-left .5s; /* If you want a transition effect */
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}