<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Changeable Page title #}
        {% block title %}
            <title>Sensei Solutions</title>
        {% endblock %}

    {# Bootstrap core -- Use this in all html files #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

     {#  Load global static files #}
        {% load staticfiles %}



</head>
    <div class="wrapper">







    </div>
<body>

</body>
</html>