<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Changeable Page title #}
        {% block title %}
            <title>Sensei Solutions</title>
        {% endblock %}

    {# Bootstrap core -- Use this in all html files #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

     {#  Load global static files #}
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}">




</head>
    <div class="wrapper">
        <div id="nav-bar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" id="changeBtn" onclick="changeNav()"><i class="fa fa-bars"></i></a>
            <a href="#"><i class="fa fa-home"></i> &nbsp; Home</a>
            <a href="#"><i class="fa fa-map-marker"></i> &nbsp;&nbsp; Map</a>
            <a href="#"><i class="fa fa-twitter"></i> &nbsp; Tweets</a>
            <a href="#"><i class="fa fa-question"></i> &nbsp;&nbsp; About Us</a>
        </div>
     <div id="main" class="container">
            <div class="row" id="banner-bar">
                {% block banner %}
                    BANNER - Put Something Here
                    {# Put page banner here #}
                {% endblock %}

            </div>
            <div class="row" id="content-block">
                {% block content %}
                    Content - Put Something Here
                    <!-- default content text (typically empty) -->
                {% endblock %}


            </div>
         </div>
    </div>






    </div>
<body>
{# Bootstrap core JavaScript #}
        {# PLacing these scripts at the bottom of the body decreases loadtimes  #}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {# Sidebar Javascript #}
        <script type="text/javascript" src="{% static 'js/nav-bar.js' %}"></script>
</body>
</html>